.card {
    margin: 30px;
    background-color: cadetblue;
    color: white;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 350px;
    height: 350px;
}


.card-normal{
    border: 5px solid teal;

}

.card-evo1{
    background-color:deeppink;
    border: 5px solid purple;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(68,16,129,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(68,16,129,0.75);
    box-shadow: 10px 10px 5px 0px rgba(68,16,129,0.75);
}

.card-evo2{
    background-color: deepskyblue;
    border: 5px solid darkblue;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
    box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
}

.card-mega{
    background-color: darkslateblue;
    border: 5px solid gold;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
    box-shadow: 10px 10px 5px 0px rgba(88,72,150,0.75);
}


.card img {
    width: 100px;
    height: 100px;
}

.card-actions {
    gap: 20px;
    margin-top: 10px;
}

.card button {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: teal;
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    color: white;

}

.card button:hover {
    background-color: darkmagenta;
}